{% extends "base/base.html" %}
{% load staticfiles %}
{% load custom_css %}
{% load config_loader %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% css_dir 'forum/css/forum.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript">
        var last = {{ messages.0.id }}
        var update_url = '{% url 'forum:update_posts' %}'
        var revision = {% site_revision %}
        {% autoescape off %}
            var message_sound_path = '{{ message_sound }}'
        {% endautoescape %}
    </script>
    <script type="text/javascript" src="{% static 'forum/js/refresh_scripts.js' %}"></script>
{% endblock %}

{% block title %}Forum{% endblock %}

{% block content %}
    <ul id="update_alert"></ul>
    <div class="inner_window">
        <h1 class="title">Makalgo-2.0</h1>
    </div>

    <div class="inner_window">
        <form method="post" action="{% url 'forum:add_post' %}">
            {% csrf_token %}
            <label for="post_author">Author: </label>
            <input type="text" name="post_author" id="post_author" value="{{ author }}">
            <input type="submit" value="Change Nick" name="change_nick">
            <br>
            <label for="post_content">Text:</label>
            <br>
            <textarea name="post_content" id="post_content"></textarea>
            <br>
            <input type="submit">
        </form>
    </div>

    <ul id="user_list" class="hidden"><li class="user_list_title">Users</li></ul>

    <div class="inner_window">
        <ul id="post_list" class="post_list">
            {% for message in messages %}
                <li class="post {% cycle 'row1' 'row2' as rowcolor %}">
                    <div class="post_header">
                        <div class="post_date">{{ message.date }}</div>
                        <div class="post_author">{{ message.author }}</div>
                    </div>
                    <div class="post_text">
                        {{ message.text|safe|linebreaksbr }}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
