.navigation-left {
    width: 50px;
    height: 32px;
    background: url(../../img/navigation_bar.png) 0px 0px;
    display: inline-block;
    vertical-align: top;
}

.navigation-right {
    width: 50px;
    height: 32px;
    background: url(../../img/navigation_bar.png) 50px 0px;
    display: inline-block;
    vertical-align: top;
}

.navigation-wrapper {
    position: relative;
    height: 32px;
}

.navigation {
    display: inline-block;
}

.navigation-bar {
    height: 32px;
    right: 20px;
    top: 0px;
    position: absolute;
}

.main_navigation_bar {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.main_navigation_bar a {
    text-decoration: none;
    color: #00ff00;
}

.main_navigation_bar li {
    height: 26px;
    display: inline-block;
    font-size: 16px;
    padding: 6px 6px 0px 6px;
    vertical-align: top;
    background-color: #000000;
}

.main_navigation_bar li:hover {
    background-color: #003000;
}
