{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login_form">
    <h3 class="login">Login:</h3>
    <form action="{% url 'accounts:authenticate' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <label for="password">Password:</label><input type="password" id="password" name="password">
        <br>
        <input type="submit">
    </form>
</div>
{% endblock %}
