{% load staticfiles %}
{% load custom_css %}
<!DOCTYPE html>
<html>
<head>
    <title>Makalgo - {% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% css_dir 'base/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% css_dir 'navigation/css/navigation.css' %}">
    <link rel="shortcut icon" href="{% static 'base/img/favicon.ico' %}">
    {% block css %}{% endblock %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/base_scripts.js' %}"></script>
    {% block js %}{% endblock %}
</head>
<body>
<div class="content-wrapper">
    {% include 'navigation_bar/navigation_bar.html' %}
    <div class="content">
        {% if error_message %}
        <div class="alert">{{ error_message }}</div>
        {% endif %}

        {% block content %}
        Missing content
        {% endblock %}
    </div>
</div>
</body>
</html>
