{% extends "base/base.html" %}

{% block title %}Content unavailable{% endblock %}

{% block content %}
<div class="inner_window">
<h3 style="text-align: center;">YOU ARE NOT ALLOWED TO SEE THIS CONTENT</h3>
</div>
{% endblock %}
