<div class="navigation-wrapper">
    <div class="navigation-bar">
        <div class="navigation-left"></div><!--
            --><div class="navigation">
        {% block navigation %}
            {% load navigation %}
            {% autoescape off %}
                {% show_navigation 'main' %}
            {% endautoescape %}
        {% endblock %}
    </div><!--
            --><div class="navigation-right"></div>
    </div>
</div>
