body {
    margin: 0px;
    font-family: Arial;
    background-color: #333333;
    color: #00dd00;
}

.content-wrapper {
    max-width: 980px;
    margin: 0px auto;
    padding-bottom: 10px;
    background-color: #222222;
}

.content {
}

h1.title {
    text-align: center;
}

.alert {
    color: #ff0000;
    padding: 10px;
}

.inner_window {
    padding: 10px;
    margin: 10px;
    background-color: #000000;
}

a {
    color: #99ff99;
}

a:hover {
    color: #aaff77;
}
