body {
    margin: 0px;
    font-family: Arial;
    background-color: #ffffff;
    color: #000000;
}

.content-wrapper {
    max-width: 980px;
    margin: 0px auto;
    padding-bottom: 10px;
    background-color: #eeeeee;
}

.content {
}

h1.title {
    text-align: center;
}

.alert {
    color: #ff0000;
    padding: 10px;
}

.inner_window {
    padding: 10px;
    margin: 10px;
    background-color: #cccccc;
}

a {
    color: #111111;
}
