.post_list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.post {
    padding: 10px;
}

.post.row1 {
    background-color: #aaaaaa;
}

.post.row2 {
    background-color: #888888;
}

.post.new.row1 {
    background-color: #666666;
}

.post.new.row2 {
    background-color: #555555;
}

.post_author {
    display: inline-block;
    font-weight: bold;
}

.post_date {
    display: inline-block;
    float: right;
}

textarea#post_content {
    width: 99%;
    resize: vertical;
}

#update_alert {
    color: #ff0000;
    text-align: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.user_list_title {
    font-weight: bold;
    padding-bottom: 10px;
}

#user_list {
    text-align: right;
    margin: 0px 0px 10px 10px;
    padding: 10px;
    list-style: none;
    background-color: #dddddd;
    position: fixed;
    right: 0px;
    top: 60px;
    cursor: pointer;
    white-space: nowrap;
}

#user_list.hidden {
    width: 10px;
}

.sound_on {
    width: 26px;
    height: 26px;
    margin-top: -4px;
    background: url('sound_icon.png') 0px 0px;
}

.sound_off {
    width: 26px;
    height: 26px;
    margin-top: -4px;
    background: url('sound_icon.png') 0px 26px;
}
